:root {
    --color-main-1: #1a1501;
    --color-main-2: #241e03;
    --color-main-3: #91760d;
    --color-main-4: #fce483;

    --color-second-1: #201f18;
    --color-second-2: #736e58;
    --color-second-3: #8e896d;
    --color-second-4: #b9b6a5;

    --color-third-1: #172119;
    --color-third-2: #3d5542;
    --color-third-3: #668e6e;
    --color-third-4: #bacdbe;

    --color-neutral-1: #1c1c1c;
    --color-neutral-2: #4c4e4e;
    --color-neutral-3: #7d7f7f;
    --color-neutral-4: #aeb0b0;
}
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(wall.jpg);
    background-size: cover;
    background-attachment: fixed; 
}
.form {
    margin-top: 10%;
    width: 420px;
    border-radius: 5px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    background-color: var(--color-third-3);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    border:2px solid var(--color-main-4);
    color: #fff;
    font-weight: 600;
}
.form h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    background-color: var(--color-third-3);
}
.form .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width:100%;
    height:80%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid var(--color-main-4);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-main-4);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position:absolute;
    right: 20px;
}
.form button{
    width:100%;
    height:80%;
    height: 45px;
    background: var(--color-third-3);
    border:none;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--color-main-4);
    box-shadow: 0 0 10px var(--color-main-4);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.form .select{
    width: 100%;
    height: 30px;
    margin: 30px 0;
}
.select select{
    width:100%;
    border: 2px solid var(--color-main-4);
    background-color: #668e6e;
    color: #fff;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px 5px 4px;
    width: 130px;
    border-radius:5px;
}
.select select:focus{
    outline: none;
    box-shadow: 0 0 10px #668e6e;
    font-weight: 600;
    border: 2px solid var(--color-main-4);
    background-color: #668e6e;
}